*{
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    background-color: #000000;
}

.hamburger img{
    width: 50px;
    height: 50px;
    background-color: #000000;
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 0%;
}

.search{
    display: flex;
}

.search-filter{
    border: none;
    outline: none;
    height: 50px;
    border-radius: 5px 0px 0px 5px ;
    width: 4rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: #D9D9D9;
}

.search-bar{
    border: none;
    outline: none;
    border-radius: 0px 5px 5px 0px ;
    font-size: 1.2rem;
    padding: 0px 15px;
    width: 32rem;
    margin-left: 1px;
    background-color: #D9D9D9;
}

.nav-btns{
    display: flex;
    gap: 25px;
}

.nav-btns button{
    background-color: #D9D9D9;
    border-radius: 5px;
    height: 50px;
    padding: 10px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}